/* AdminPage.css */

/* AdminPage.css */

.adminPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.adminPageContainer h1 {
    color: #333;
    margin-bottom: 16px;
}

.adminRenterList {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Add more styles as needed */